.wrapper{
    width: 100%;
}
.wrapper .s_img{
    width: 100%;
}
.orderInfo{
    width: 100%;
    box-sizing: border-box;
    padding: 20px
}
.orderInfo p{
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    font-size: 14px;
    color: #333;
    justify-content: space-between;
    align-items: center;
}
.orderInfo p span:nth-last-of-type(1){
    color: #ccc;
}
.downloadBtn{
    text-align: center;
}
button{
    color: #ffffff;
    border: none;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    background: #ce0f32;
}